## Máster en Big Data y Data Science

### Metodologías de gestión y diseño de proyectos de big data

#### Sesión Práctica 01 - Ejemplo dvc

---

En esta libreta se realizan una serie de pasos básicos para verificar la operatoria a seguir con respecto al versionado de datos utilizando la librería dvc.

In [2]:
import pandas as pd

Se realiza en primera instancia la lectura del conjunto de datos.

In [3]:
# Se hace la lectura de uno de los datasets del escenario

df_tarjetas = pd.read_csv("../data/raw/datos_tarjetas.csv", sep=";")
df_tarjetas.head(1)

,id_cliente,antiguedad_cliente,estado_civil,estado_cliente,gastos_ult_12m,genero,limite_credito_tc,nivel_educativo,nivel_tarjeta,operaciones_ult_12m,personas_a_cargo
0,713061558.0,36.0,CASADO,ACTIVO,1088.0,M,4010.0,UNIVERSITARIO_COMPLETO,Blue,24.0,2.0

En este punto, el dataset debe haber sido versionado y se habrán confirmado los cambios en el repositiorio git.

A continuación se realiza una modificación para verificar el funcionamiento de dvc.

In [4]:
# Se eliminan dos columnas solo a modo de ejemplo

df_tarjetas.drop(columns=['antiguedad_cliente'], inplace=True)
df_tarjetas.head(1)

,id_cliente,estado_civil,estado_cliente,gastos_ult_12m,genero,limite_credito_tc,nivel_educativo,nivel_tarjeta,operaciones_ult_12m,personas_a_cargo
0,713061558.0,CASADO,ACTIVO,1088.0,M,4010.0,UNIVERSITARIO_COMPLETO,Blue,24.0,2.0

In [5]:
# Se escriben los cambios al archivo para poder aplicarlos y revertirlos posteriormente.

df_tarjetas.to_csv("../data/raw/datos_tarjetas.csv", sep=";", index=False)

Estos cambios deberán ser confirmados en dvc y en el repositorio git.